{% extends "base.html" %}
{% block head %}
{% block title %}<title>{{ SITENAME }}</title>{% endblock title %}
{{ super() }}
  {% block seo %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" /> 

    <!-- Facebook OpenGraph -->
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:title" content="{{ SITETITLE }}" />
    <meta property="og:description" content="{{ SITEDESCRIPTION }}" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:image" itemprop="image" content="{{ SITEURL }}/images/{{ SITENAME }}.png">
    <meta property="og:type" content="blog" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SITETITLE }}">
    <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">
    <meta name="twitter:image" content="{{ SITEURL }}/images/{{ SITENAME }}.png">
  {% endblock %}    
{% endblock %}
{% block content_title %}
{% if articles_page.number == 1 %}
{% include 'introduction.html' %}
{% endif %}
{% endblock %}
{% block content %}
<br>
<br>
<section id="content">
<!-- Blog entries -->
{% for article in articles_page.object_list %}
<article class="w3-container w3-card-2 w3-white col-main">
  <header>
  <div class="headerimage-card">
    <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.headerimage }}" style="width: 100%;"></img></a>
  </div>
  <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  <div class="post-info">
    <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
      <span>{{ _('Posted on %(when)s in %(category)s',
          when=article.locale_date,
          category='<a href="%s/%s" style="font-style: italic">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}
      </span>
    </div>
    {% if article.tags %}
    <div id="article-tags" class="w3-margin-right">
      {% for tag in article.tags %}
      <span class="w3-tag w3-light-grey w3-text-red w3-hover-red">
          <a href="{{ SITEURL }}/{{ tag.url }}" title="{{ _('All posts about %(tag)s', tag=tag.name.title()) }}">#{{ tag }}</a>
        </span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</header>
  <div class="entry-content">{{article.summary}}</div>
  <footer>
  <a class="w3-btn w3-red w3-right w3-margin" href="{{ SITEURL }}/{{ article.url }}">{{ _('Continue reading') }} &#10093;</a>
  </footer>
</article>
<br>
<br>
<br>
{% if loop.index==1 %}
{% if TAG_CLOUD %}
{% if articles_page.object_list|count > 2 %}
{% include 'tagcloud.html' %}
{% endif %}
{% endif %}
{% else %}
<!-- Whitespace between Articles -->
{% endif %}
{% endfor %}
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
<br>
<br>
{% endif %}
</section>
{% endblock content %}
