<style>
.slides {display:none}
.w3-display-topright, .w3-display-topleft {cursor:pointer}
.w3-badge {height:10px;width:10px;padding:0}
</style>

<div class="w3-content w3-display-container article-media-wrapper">
  <img class="slides" src="http://www.w3schools.com/w3css/img_nature_wide.jpg" style="max-width:100%">
  <img class="slides" src="http://www.w3schools.com/w3css/img_fjords_wide.jpg" style="max-width:100%">
  <img class="slides" src="http://www.w3schools.com/w3css/img_mountains_wide.jpg" style="max-width:100%">
  <div class="w3-display-container w3-display-topright w3-text-white" onclick="plusDivs(1)" style="width: 160px; height: 100%;">
    <div class="w3-display-middle" style="width: 100%">
    <span class="w3-padding-right w3-right">&#10095;</span>
    </div>
  </div>
  <div class="w3-display-container w3-display-topleft w3-text-white" onclick="plusDivs(-1)" style="width: 160px; height: 100%;">
    <div class="w3-display-middle" style="width: 100%">
    <span class="w3-padding-left w3-left">&#10094;</span>
  </div>

</div>
  <!-- </div> -->
  <div class="w3-display-bottommiddle w3-section">
    <span class="w3-badge dots w3-border w3-transparent w3-hover-white " onclick="currentDiv(1)"></span>
    <span class="w3-badge dots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge dots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slides");
  var dots = document.getElementsByClassName("dots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>
