<script src="{{ SITEURL }}/theme/js/jquery-3.2.1.min.js"></script>
<script>

function loadLightbox() {
    $('<link>')
        .appendTo('head')
        .attr({
            type: 'text/css', 
            rel: 'stylesheet',
            href: '{{ SITEURL }}/theme/lightbox2/css/lightbox.css'
    });

    $.getScript( "{{ SITEURL }}/theme/lightbox2/js/lightbox.js", initLightbox);
}

function initLightbox() {
    $('a[href*="images"]').each(function(i) {
        $(this).attr("data-lightbox", "photo");
    });
}

$(document).ready(function() {

    $('.post-content img').wrap(function() {
        return "<a href='" + $(this).attr('src') + "' data-title='" + $(this).attr('alt') + "'></a>"
    });

    loadLightbox();
});


</script>
